<ul>
  <% @studentinfos.each do |studentinfo| %>
    <li>
      <%= link_to studentinfo.name, studentinfo %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "new_studentinfo", new_studentinfo_path%>

