// Place all the styles related to the Results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;  
}

.border{
  border: 2px solid #ccc;
  box-sizing: 50%;
}

.button {
  color: rgb(119, 79, 79);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
